attrs==22.2.0
exceptiongroup==1.1.0
flake8==6.0.0
iniconfig==2.0.0
mccabe==0.7.0
numpy==1.24.2
packaging==23.0
platformdirs==3.1.1
pluggy==1.0.0
pycodestyle==2.10.0
pyflakes==3.0.1
pyopencl==2022.3.1
pytest==7.2.1
pytools==2022.1.14
tomli==2.0.1
typing_extensions==4.5.0
