**/**
!.gitignore
!./image/
!./cpp/convolution.cpp
!./pythonMT/convolution.py
!./pythonMP/convolution.py
!./sr/convolution.sr
!./opencl/opencl.py
!./opencl/kernel.cl
!./opencl/program.h
!./opencl/contexte.h
!./opencl/convolution.cpp
